body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.top-wrap {
  margin-bottom: 5vh;
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
}
.bottom-wrap {
  margin-bottom: 5vh;
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
}
